.button0 {
    height: 50px;
    width: 100px;
    color: green;
    background-color: yellow;
}

.button1 {
    height: 50px;
    width: 100px;
    color: green;
    background-color: yellow;
}

.button2 {
    height: 50px;
    width: 100px;
    color: green;
    background-color: yellow;
}

.button3 {
    height: 50px;
    width: 100px;
    color: green;
    background-color: yellow;
}

.button4 {
    height: 50px;
    width: 100px;
    color: green;
    background-color: yellow;
}

.button5 {
    height: 50px;
    width: 100px;
    color: green;
    background-color: yellow;
}

.button6 {
    height: 50px;
    width: 100px;
    color: green;
    background-color: yellow;
}

.button7 {
    height: 50px;
    width: 100px;
    color: green;
    background-color: yellow;
}
